*{
padding: 0;   
margin: 0;

}
body{
    background-color:skyblue ;
    color: rgb(128, 11, 237);

}
.registration-form{
    text-align: center;
    margin-top: 5%;
}
.registration-form h1{
    font-size: 40px;
    text-align:center ;
    text-transform: uppercase;
    margin: 40px, 0;

}
.registration-form p{
    font-size: 25px;
    margin: 15px 0;

}
.registration-form input{
    font-size: 17px;
    padding: 15px 10px;
    border: 0cm;
    border-radius: 5px;
    outline: none;

}
.registration-form button{
 text-decoration: none;
  color: whitesmoke;
  background-color:rgb(96, 19, 178);
  padding: 12px 40px;
  border-radius: 50px;
  font-size: 1.6rem;
  transition: all ease 0.5s;
  margin-top: 40px;
}